html, body, .app {
    height: 100vh;
    background: #eee;
    padding: 1em;
}

.main-background{
    background: #eee;
}

.max-width-grid-column{
    max-width: 450px;
}

.margin-top-minus-20{
    margin-top: -20px;
}