html, body, .app {
    height: 100vh;
    background: #eee;
    padding: 1em;
}

.main-background{
    background: #eee;
}

.max-width-grid-column{
    max-width: 450px;
}

.margin-top-minus-20{
    margin-top: -20px;
}

/* channel */
.input-add-channel .label{
    width: 150px;
}

/* messages */

.message_header{
    height: 11vh;
}

.messages{
    height: 60vh;
    overflow-y: scroll;
}

.message_form{
    height: 16vh;
    z-index: 200;
    position: fix !important;
    width: 148%;
}

.message_self{
    border-left: 2px solid orange;
    padding-left: 8px;
}

.message{
    border-left: 2px solid gray;
    padding-left: 8px;
}

.message_image{
    padding: 1em;
}